<div class="container">
  <div class="columns is-multiline is-mobile">
    <div
      *ngFor="let movie of movies"
      class="column is-half-mobile is-one-third-tablet is-one-fifth-desktop"
    >
      <div class="movie-container">
        <a routerLink="/movie/{{ movie.id }}">
          <img
            [src]="movie.image"
            [alt]="movie.name"
            [title]="movie.name"
            class="movie-image"
          />
          <div class="movie-details">
            <p class="is-size-6 has-text-primary movie-name">
              {{ movie.name }}
            </p>
          </div>
          <span class="tag is-primary has-text-weight-bold">{{
            movie.age
          }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
